<a href="admin/CheckIn"><button>Check In</button></a>
<a href="admin/checkOut"><button>Check out</button></a>
<a href="admin/account"><button>Edit accounts</button></a>
<a href="admin/booking"><button>Edit bookings</button></a>
<a href="admin/feedback"><button>Edit feedback</button></a>
<a href="admin/gallery"><button>Edit gallery</button></a>
<a href="admin/room"><button>Edit rooms</button></a>
<a href="admin/report"><button>Generate Report</button></a>
