<a href="admin/CheckIn"  class="button"> Check In </a>
<a href="admin/checkOut" class="button"> Check out </a>
<a href="admin/account" class="button"> Edit accounts </a>
<a href="admin/booking" class="button"> Edit bookings </a>
<a href="admin/feedback" class="button"> Edit feedback </a>
<a href="admin/gallery" class="button"> Edit gallery </a>
<a href="admin/room" class="button"> Edit rooms </a>
<a href="admin/report" class="button"> Generate Report </a>
<a href="/logout" class="button" id="logout">Logout </a>