
<nav>

<ul>
<li><a href="admin/CheckIn"  class="button"> Check In </a></li>
<li><a href="admin/checkOut" class="button"> Check out </a></li>
<li><a href="admin/account" class="button"> Edit accounts </a></li>
<li><a href="admin/booking" class="button"> Edit bookings </a></li>
<li><a href="admin/feedback" class="button"> Edit feedback </a></li>
<li><a href="admin/gallery" class="button"> Edit gallery </a></li>
<li><a href="admin/room" class="button"> Edit rooms </a></li>
<li><a href="admin/report" class="button"> Generate Report </a></li>
<li><a href="/logout" class="button logout-button" >Logout </a></li>
</ul>
</nav>

<div class="space-above">
<img class="img-home" src="../../public/admin1.PNG" alt="admin dashboard">
</div>
<p class="home-para">
As an Admin, You have the following features:
</p>

<ol>
  <li>Check In guests</li>
  <li>Check out guests</li>
  <li>Create,update and delete account</li>
  <li>Create, Find all booking</li>
  <li>View and delete all feedbacks</li>
  <li>Upload and delete gallery images</li>
  <li>create,update,clean and delete rooms</li>
  <li>Generate hotel Reports</li>
</ol>

<footer>
  Admin Homepage
</footer>