<nav>

<ul>
<li><a href="admin/CheckIn"  class="button"> Check In </a></li>
<li><a href="admin/checkOut" class="button"> Check out </a></li>
<li><a href="admin/account" class="button"> Edit accounts </a></li>
<li><a href="admin/booking" class="button"> Edit bookings </a></li>
<li><a href="admin/feedback" class="button"> Edit feedback </a></li>
<li><a href="admin/gallery" class="button"> Edit gallery </a></li>
<li><a href="admin/room" class="button"> Edit rooms </a></li>
<li><a href="admin/report" class="button"> Generate Report </a></li>
<li><a href="/logout" class="button" >Logout </a></li>
</ul>
</nav>

<footer>
  Admin Homepage
</footer>