<main class="container my-4">
    <div class="row">
        <div class="col text-center">
            <a href="admin/CheckIn" class="btn btn-primary m-2">Check In</a>
            <a href="admin/checkOut" class="btn btn-primary m-2">Check Out</a>
            <a href="admin/room" class="btn btn-primary m-2">Room Management</a>
            <a href="admin/booking" class="btn btn-primary m-2">Booking Management</a>
            <a href="admin/feedback" class="btn btn-primary m-2">Feedback Management</a>
            <a href="admin/gallery" class="btn btn-primary m-2">Gallery Management</a>
            <a href="admin/account" class="btn btn-primary m-2">Account Management</a>
            <a href="admin/report" class="btn btn-primary m-2">Generate Report</a>
            <a href="/logout" class="btn btn-danger m-2" id="logout">Logout</a>
        </div>
    </div>
</main>
