<nav>

  <ul>
    <li><a href="guest/room">Rooms</a></li>
    <li><a href="guest/gallery">Gallery</a></li>
    <li><a href="guest/feedback">Feedback</a></li>
    <li><a href="guest/account">Accounts</a></li>
    <li><a class="logout-button" href="/logout">Logout</a></li>

  </ul>
</nav>
<div class="space-above">

</div>
<img class="img-home"src="../public/guest.PNG" alt="guest homepage">

<p class="home-para">
As a guest, you can make new feedbacks and and make bookings .
</p>



<footer>
  Guest Homepage
</footer>