<nav>
  <ul>
    <li><a href="guest/booking"><button>Bookings</button></a></li>
    <li><a href="guest/gallery"><button>Gallery</button></a></li>
    <li><a href="guest/feedback"><button>Feedback</button></a></li>
    <li><a href="guest/account"><button>Accounts</button></a></li>
    <li><a href="/logout"><button id="logout">Logout</button></a></li>

  </ul>
</nav>