<nav>

  <ul>
    <li><a href="guest/room">Rooms</a></li>
    <li><a href="guest/gallery">Gallery</a></li>
    <li><a href="guest/feedback">Feedback</a></li>
    <li><a href="guest/account">Accounts</a></li>
    <li><a href="/logout">Logout</a></li>

  </ul>
</nav>

