
<nav>
    <ul>
        <li><a href="guest/booking"><button>Bookings</button></a></li>
        <li><a href="guest/gallery"><button>Gallery</button></a></li>
        <li><a href="guest/feedback"><button>Feedback</button></a></li>
         <li class="dropdown">
            <button class ="dropbtn" id ="UserDropdownButton">User</button>
            <div class="dropdown-content" id ="userDropdown">
                <a href="guest/account/edit/{{userId}}">Edit Account</a>
                <a href="guest/account/view/{{userId}}">View Account</a>
                <a href="guest/logout">Logout</a>
            </div>
            </li>
    </ul>
</nav>     
<script src="/public/js/main.js"></script>
