<a href="/guest/feedback/createFeedback">Add a Feedback</a>
<a href="/guest/feedback/updateFeedback">Update your Feedback</a>
<a href="/guest/feedback/deleteFeedback">Delete your Feedback</a>

<ul>
  {{#each feedback}}
    <li>
      <strong>{{guestName}}</strong>
      Rating :
      {{rating}}/10 Room Type :
      <span>{{roomType}}</span>
      <p>{{comment}}</p>
    </li>
  {{/each}}
</ul>

<footer>

  <a href="/guest">back to guest Homepage</a>
</footer>