
<nav>
<ul>
  <li><a href="/guest/feedback/createFeedback">Add a Feedback</a></li>
  <li><a href="/guest/feedback/updateFeedback">Update your Feedback</a></li>
  <li><a href="/guest/feedback/deleteFeedback">Delete your Feedback</a></li>
</ul>
</nav>



<ul id="feedbacks">
  {{#each feedback}}
    <div class="feedback-card" style="width: 50%;">
      <strong>{{guestName}}</strong>
      <span  style="margin-left: 70px; margin-right: 70px">Room Type : {{roomType}}</span>
      <span >Rating :
      {{rating}}/10</span>
      
      <p>{{comment}}</p>
    </div>
    
  {{/each}}
</ul>
<div class="space-below">

</div>

<footer>
  <a href="/guest">back to guest Homepage</a>
</footer>