<a href="/guest/feedback/createFeedback"><button>Add a Feedback</button></a>
<a href="/guest/feedback/updateFeedback"><button>Update your Feedback</button></a>
<a href="/guest/feedback/deleteFeedback"><button>Delete your Feedback</button></a>

<ul>
  {{#each feedback}}
    <li>
      <strong>{{guestName}}</strong>
      Rating :
      {{rating}}/10 Room Type :
      <span>{{roomType}}</span>
      <p>{{comment}}</p>
    </li>
  {{/each}}
</ul>

<footer>

  <a href="/guest">back to guest Homepage</a>
</footer>