<a href="/guest/feedback/createFeedback"><button>Add a Feedback</button></a>
<button>Update your Feedback</button>
<button>Delete your Feedback</button>

<ul>
  {{#each feedback}}
    <li>
      <strong>{{guestName}}</strong>
      rating :
      {{rating}}/10
      <p>{{comment}}</p>
    </li>
  {{/each}}
</ul>

<footer>

  <a href="/guest">back to guest Homepage</a>
</footer>