<p class="error">Sorry, there was an error processing your request:
  {{errorMessage}}</p>
<button onclick="goBack()">Return to Previous Page</button>

<script>
  function goBack() { window.history.back(); }
</script>

