
<div style="margin-bottom: 1rem;">

</div>
<p class="home-para">If you would like to leave a feedback or review, Please Login ^_^</p>

<ul id="feedbacks">
  {{#each feedback}}
    
      <li class="feedback-card" style="width: 50%;">

      <strong>{{guestName}}</strong>
      <span  style="margin-left: 70px; margin-right: 70px">Room Type : {{roomType}}</span>
      <span >Rating :
      {{rating}}/10</span>
      
      <p>{{comment}}</p>
      </li>
    
    
  {{/each}}
</ul>
<div class="space-below">

</div>

<footer>
  <a href="/">back to Homepage</a>
</footer>