
<nav>

<ul>
    <li><a href="/gallery">Gallery</a></li>
    <li><a href="/room">Room</a></li>
    <li><a href="/feedback">Feedback</a></li>
    <li><a class="login-button" href="/login">Login</a></li>
    <li><a class="register-button" href="/register">Register</a></li>
</ul>
</nav>
<div class="space-above">
</div>

<img class="img-home" src="../public/homepage.PNG" alt="homepage">
<p class="home-para">Welcome to Hotel Management System, you are curently unloggedin user. You can see our feedback,room prices and gallery. To make a booking or leave a feedback please login.</p>


<footer>
    Hotel Management System
</footer>