
<nav>

<ul>
    <li><a href="/gallery">Gallery</a></li>
    <li><a href="/room">Room</a></li>
    <li><a href="/feedback">Feedback</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
</ul>
</nav>

<footer>
    Hotel Management System
</footer>