
    <a href="booking/adminBooking"> Create Booking </a>
    <a href="booking/AdminBookingGetAll"> Find Booking </a>
    <a href="booking/AdminShowAllBooking"> Show All Bookings </a>


<footer>
    <a href="/admin">back to Admin Dashboard</a>
</footer>