<nav>

<ul>
    <li><a href="booking/adminBooking"> Create Booking </a></li>
    <li> <a href="booking/AdminBookingGetAll"> Find Booking </a></li>
    <li><a href="booking/AdminShowAllBooking"> Show All Bookings </a></li>
</ul>
</nav>
    
   
    


<footer>
    <a href="/admin">back to Admin Dashboard</a>
</footer>