<a href="/guest/account/edit/{{userId}}"><button>Update your Account</button></a>
<a href="/guest/account/view/{{userId}}"><button>View your Feedback</button></a>

<footer>

  <a href="/guest">back to guest Homepage</a>
</footer>