<a href="/guest/account/edit/{{userId}}">Update your Account</a>
<a href="/guest/account/view/{{userId}}">View your Account</a>
<a href="/guest/account/report/{{userId}}">Download your Report</a>

<footer>

  <a href="/guest">back to guest Homepage</a>
</footer>