<nav>

<ul>
  <li><a href="/guest/account/edit/{{userId}}">Update your Account</a></li>
  <li><a href="/guest/account/view/{{userId}}">View your Account</a></li>
  <li><a href="/guest/account/report/{{userId}}">Download your Report</a></li>
</ul>
</nav>





<footer>

  <a href="/guest">back to Guest Homepage</a>
</footer>