.dropdown-content {
  display: none;
  position: absolute;
  background-color: aliceblue;
  min-width: 160px;
  box-shadow: none;
  z-index: 1;
}
.show {
  display: block;
}

nav ul {
  display: flex;
  padding: 20px;
  margin: auto;
  list-style-type: none;
}
nav li {
  margin-right: 80 px;
}
nav {
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
}

li {
  border-width: 5px;
  border-color: grey;
  border-style: solid; /* Specify the border style */
  margin-bottom: 10px; /* Add margin for spacing between li elements */
  padding: 10px;
}

.deleteFeedbackIds {
  float: right;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button:hover {
  background-color: rgb(203, 201, 201);
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}
button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #007bff;
}
a:hover {
  text-decoration: underline;
}
footer {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
a {
  color: #5953d4;
  text-align: center;
}
.account-create {
  text-align: center;
}
.phone-container {
  display: flex;
  align-items: center;
  gap: 10px;
  /*margin-bottom: 10px;*/
}
.phone-container select,
.phone-container input{
  flex: 1;
  padding: 5px;
  border:1px solid#ccc;
  border-radius: 4px;
  height: 35px;
}
.phonePrefix-select, .phone{
  width:auto;
}
.alert-message{
  color: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
}
#success-message{
  background-color: green;
}
#error-container{
  background-color: red;
  color: white;
}
.roleInput{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

.user dl{
  width:100%;
  padding:5px;
  box-shadow: 0 2px 4px rgba(0,0,0.1);
}
.user dt{
  font-weight: bold;
  display: block;
}
.user dd{
  margin-left:0;
  padding-left: 80px;
  text-indent: -80px;
  margin-bottom: 10px;
}
