body, html {
  margin: 0;
  padding: 0;
  min-height : 100%;
  min-width : 100%;
}

.img-home{
  float: right; 
  max-width: 30%;
  border-radius: 10px;
  margin: 20px;
}
.home-para{
  font-size: 18px;
  margin-left: 10px;
}

.login-button{
  background-color: #4caf50;
  border-radius: 25px ;
  color: #ffffff;
  padding: 3px 10px;
  border: 1px solid #ccc;
  
  
}
.login-button:hover {
  background-color: #2f6d31;
}



.register-button{
  color: white;
  background-color: #38c7ff;
  border-radius: 50px ;
  color: #ffffff;
  padding: 3px 10px
}
.register-button:hover {
  background-color: #2686ac;
}

.logout-button {
  color: white;
  background-color: #ff0000;
  border-radius: 50px ;
  padding: 3px 10px
}

.logout-button:hover {
  background-color: #c70202;
}

footer a {
  float: left;
  background-color: white;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 5px;
  margin-left: 10px;
  border-radius: 25px;
}

footer a:hover {
  float: left;
  padding: 5px;
  color: rgb(167, 167, 167);
  border-radius: 50px;
}

#feedbacks ul{
  padding-bottom: 20px;
}
.space-below{
  margin-bottom: 5rem;
}
.space-above{
  margin-bottom: 2rem;
}
.feedback-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
}

.room-type{
  font-weight: bold;
}


.feedback-card p {
  margin-top: 10px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: aliceblue;
  min-width: 160px;
  box-shadow: none;
  z-index: 1;
}
.show {
  display: block;
}

h1 {
  padding-top: 2px;
  padding-left: 5px;
  padding-bottom: 6px;
  
}



nav ul {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  list-style-type: none;
  
}
nav li a {
 
 color: rgb(0, 0, 0);  
 text-decoration: none;
 
}
nav {
  padding-right: 15px;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px); 
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 20px rgb(101, 101, 101);
  padding-bottom: 8px;

}


ul {
  list-style-type: none; 
  
}



.deleteFeedbackIds {
  float: right;
  accent-color: red;
}

#deleteButton {
  background-color: red;
  color: white;
}

#deleteButton:hover {
  background-color: rgb(189, 1, 1);
  color: white;
}

button {
  border-radius: 10px;
}

button:hover {
  background-color: rgb(203, 201, 201);
}

form:not(#deletionForm) {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-bottom: 60px;
}
button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#rating-output {
  display: inline;
}
button[type="submit"]:hover {
  background-color: #007bff;
}
a:hover {
  text-decoration: underline;
}

ul a {
  color: #5953d4;
  text-align: center;
  
}
.account-create {
  text-align: center;
}
.phone-container {
  display: flex;
  align-items: center;
  gap: 10px;
  /*margin-bottom: 10px;*/
}

header{
 
  background-color: #333;
  color: #fff;
  
  
}

footer {
  text-align: left;
  padding: 10px;
  margin-top: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  padding: 10px 0; 
}

.phone-container select,
.phone-container input {
  flex: 1;
  padding: 5px;
  border: 1px solid#ccc;
  border-radius: 4px;
  height: 35px;
}
.phonePrefix-select,
.phone {
  width: auto;
}
.alert-message {
  color: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
}
#success-message {
  background-color: green;
}
#error-container {
  background-color: red;
  color: white;
}

.room-card {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}
.room-photo {
  max-width: 100px;
  max-height: 100px;
}
.roleInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.user dl {
  width: 100%;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0.1);
}
.user dt {
  font-weight: bold;
  display: block;
}
.user dd {
  margin-left: 0;
  padding-left: 80px;
  text-indent: -80px;
  margin-bottom: 10px;
}

.alert {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

/* 添加关闭按钮 */
.alert .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.alert .closebtn:hover {
  color: black;
}




.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
