

  <form id="imageUploadForm" enctype="multipart/form-data">
    <input type="file" id="imageInput" name="image" accept="image/*">
    <button type="submit" >Upload Image</button>
  </form>

  <div class="container mt-4">
    <div class="row">
      {{#each AdminLink}}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{{this.url}}" class="card-img-top" alt="Hotel Photos">
          <div class="card-body">
            <h5 class="card-title">{{this.fileName}}</h5>
            <p class="card-text">Some description if needed</p>
        </div>

         <button class="delete-btn" data-filename="{{this.fileName}}">Delete Image</button>
        </div>
      </div>
      {{/each}}
    </div>
  </div>


<script>
  document.getElementById('imageUploadForm').addEventListener('submit',function(event){
    event.preventDefault();
    const imageFile = document.getElementById('imageInput').files[0];
    if (imageFile) {
        uploadImage(imageFile);
    } else {
        alert('Please select an image file to upload.');
    }
  });

  document.querySelector('main').addEventListener('click', function(event) {
  if (event.target.classList.contains('delete-btn')) {
    const fileName = event.target.getAttribute('data-filename');
    if (confirm(`Are you sure you want to delete ${fileName}?`)) {
      deleteImage(fileName);
    }
  }
});

  function uploadImage(imageFile) {
        const formData = new FormData();
        formData.append('image', imageFile);

        fetch('/admin/gallery/upload', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
          alert('Image Upload Success.');
           location.reload(); 
        })
        .catch(error => {
            alert('Could not add image.');
        });
    }  

function deleteImage(fileName) {
  fetch('/admin/gallery/delete', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({ fileName: fileName })
  })
  .then(response => {
    if (response.ok) {
      alert('Image deleted successfully');
      location.reload();
    } else {
      throw new Error('Failed to delete image');
    }
  })
  .catch(error => {
    alert(error.message);
  });
}
</script>

<div class="space-below">

</div>

<footer>
  <a href="/admin">Back to Admin Dashboard</a>
</footer>