
<main>
  <form id="imageUploadForm" enctype="multipart/form-data">
    <input type="file" id="imageInput" name="image" accept="image/*">
    <button type="submit" >Upload Image</button>
  </form>
</main>


<script>
  document.getElementById('imageUploadForm').addEventListener('submit',function(event){
    event.preventDefault();
    const imageFile = document.getElementById('imageInput').files[0];
    if (imageFile) {
        uploadImage(imageFile);
    } else {
        alert('Please select an image file to upload.');
    }
  });

  function uploadImage(imageFile) {
        const formData = new FormData();
        formData.append('image', imageFile);

        fetch('/admin/gallery/upload', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
          alert('Image Upload Success.');
        })
        .catch(error => {
            alert('Could not add image.');
        });
    }  
</script>

<footer>
  <a href="/admin">back to Admin Dashboard</a>
</footer>