<form action="POST">
  <label for="name">Name</label>
  <input type="text" placeholder="enter your name" />
  <label for="password">Password</label>
  <input type="password" placeholder="create your password" />
  <label for="email">Email</label>
  <input type="text" placeholder="Please enter your email" />
  <button type="submit">Login</button>
</form>

<span>Dont have an account?</span>
<a href="/register">
    <button>Create an account</button>
<footer>

  <a href="/">back to home</a>
</footer>