<form action="/reset"method="POST">
{{#if successMessage}}<div id="success-message"  class="alert alert-success" role="alert" style="display: none;">{{successMessage}}</div>{{/if}}
  <div id = "error-container" style="display: none;">{{#if error}}{{error}}{{/if}}</div>
  <!-- <label for="name">Name</label>
  <input type="text" id="name" name ="name"placeholder="enter your name" />!-->
  <label for="email">Email</label>
  <input type="text" id="email" name ="email" placeholder="Please enter your email" />
  <label for="password"> New Password</label>
  <input type="password" id="password" name ="password" placeholder="create your password" />
  <label for="confirmPassword">Confirm Password</label>
  <input type="password" id="confirmPassword" name ="confirmPassword" placeholder="create your password" />
  <button type="submit">Reset Password</button>
</form>

<div class="account-create">
<a href="/login">Click here to login </a></div><br>
<footer>
  <a href="/">Back to home</a>
</footer>
<script src="/public/js/client_side_validation.js"></script>
<script src="/public/js/main.js"></script>
