<h1>Room Booking</h1>
room details
<p>Please enter your details to confirm your booking:</p>
<form action="/guest/booking/book" method="POST" id="BookingForm">
  <h2>Guest Details</h2>
  <label for="FirstNameInput">Enter First Name</label>
  <input
    type="text"
    placeholder="Enter First Name"
    id="FirstNameInput"
    name="FirstNameInput"
  />
  <br />
  <label for="LastNameInput">Enter Last Name</label>
  <input
    type="text"
    placeholder="Enter Last Name"
    id="LastNameInput"
    name="LastNameInput"
  />
  <br />
  <label for="EmailIdInput">Enter Email Address</label>
  <input
    type="email"
    placeholder="Enter Email Address"
    id="EmailIdInput"
    name="EmailIdInput"
  />
  <br />
  <label for="ContactNumberInput">Enter Contact Number:</label>
  <input
    type="text"
    placeholder="Enter Contact Number"
    name="ContactNumberInput"
    id="ContactNumberInput"
  />
  <br />
  <label for="CheckinDateInput">Enter CheckIn Date</label>
  <input type="date" id="CheckinDateInput" name="CheckinDateInput" />
  <br />
  <label for="CheckoutDateInput">Enter CheckOut Date</label>
  <input type="date" id="CheckoutDateInput" name="CheckoutDateInput" />
  <br />
  <button type="submit">Proced For Payment</button>
</form>
<div id="error-container" style="display: none;">{{#if
    error
  }}{{error}}{{/if}}</div>

<footer>
  <a href="/guest/room">Back to Guest Rooms</a>
  <br>
  <a href="/guest">Back to Guest Homepage</a>
</footer>