<main>
    <p>Search Booking By Email:</p>
    <p>Enter First Name</p>
    <input type="text" name ="FirstName" id ="FirstName">
    <p>Enter Email:</p>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <input type="text" name="email_search" id="email_search">
    <button id="SearchByEmail" onclick="searche()">Search</button>
    <div class="results" id="rdiv"></div>
</main>
    <script>
        jQuery(document).ready(function(){
            window.searche = function() {
            let d = document.getElementById("email_search")
            let rdiv = document.getElementById('rdiv')
            let u = "http://localhost:3000/admin/checkout/getbookingbyemail/" + d.value
            $.ajax({
                url: u,
                type: "GET",
                data: "json",
                success: function (res) {
                    if (res.length === 0){
                        rdiv.textContent = 'No Booking with that email ${d.value}'
                    }
                    const booking = document.createElement("div");
                    booking.innerHTML =
                        `
                        <p><label for="FirstName">First Name: </label>${res.firstName}</p>
                        <p><label for="LastName">Last Name: </label>${res.lastName}</p>
                        <p><label for="EmailId">Email Id: </label>${res.emailId}</p>
                        <p><label for="Phonenumber">Phone Number: </label>${res.contactNumber}</p>
                        <p><label for="Checkindate">Checkin Date: </label>${res.CheckinDate}</p>
                        <p><label for="CheckoutDate">Checkout Date: </label>${res.CheckOutDate}</p>
                        <p><label for="Booking Status">Booking Status: </label>${res.BookingStatus}</p>
                        ${res.CheckedIn ? '<button onclick="checkOute(\'' + res.emailId + '\')">Check-out</button>' : ''}

                        `
                    rdiv.appendChild(booking)
                }
             })
            }
        })

        window.checkOute = function(emailId){
            let u = "http://localhost:3000/admin/checkOut/putcheckOute/" + emailId;
            let rdiv = document.getElementById('rdiv')
            $.ajax({
                url: u,
                type: "POST",
                dataType: "json",
                success: function (updatedRes) {
                    console.log("Check-Out successful");
                    console.log(updatedRes);
                },
            });
        }
        
    </script>
