<a href="account/create" class="button" > Create accounts </a>
<a href="account/edit"  class="button" >Edit User accounts</a>
<a href="account/view" class="button" >View accounts </a>
<a href="account/delete" class="button" >Delete accounts </a>

<footer>
  <a href="/admin">Back To Admin Dashboard</a>
  <a href="/">Back to home</a>
</footer>