<nav>

<ul>
  <li><a href="account/create" class="button" > Create accounts </a></li>
  <li><a href="account/edit"  class="button" >Edit User accounts</a></li>
  <li><a href="account/view" class="button" >View accounts </a></li>
  <li><a href="account/delete" class="button" >Delete accounts </a></li>

</ul>
</nav>



<footer>
  
  <a href="/admin">Back to Admin Dashboard</a>
</footer>