<a href="account/create"><button>Create accounts</button></a>
<a href="account/edit"><button>Edit User accounts</button></a>
<a href="account/view"><button>View accounts</button></a>
<a href="account/delete"><button>Delete accounts</button></a>

<footer>
  <a href="/admin">Back To Admin Dashboard</a>
  <a href="/">Back to home</a>
</footer>