

<div>
    <h2>Single Room Average Rating: {{avgRatingSingle}}</h2>
    <h2>Double Room Average Rating: {{avgRatingDouble}}</h2>
    <h2>Suite Room Average Rating: {{avgRatingSuite}}</h2>
</div>

<footer>

    <a href="/admin">back to admin Dashboard</a>
</footer>