<form action="/admin/room/create" method="post">
    <label for="roomNumber">Room Number:</label>
    <input type="number" id="roomNumber" name="roomNumber" placeholder="Room Number" required><br>

    <label for="roomType">Room Type:</label>
    <select id="roomType" name="roomType">
        <option value="single">Single</option>
        <option value="double">Double</option>
        <option value="Suite">Suite</option>
    </select><br>

    <label for="roomPrice">Room Price:</label>
    <input type="number" id="roomPrice" name="roomPrice" step="0.01" placeholder="Room Price" required><br>

    <label for="availability">Availability:</label>
    <select id="availability" name="availability">
        <option value="true">Available</option>
        <option value="false">Not Available</option>
    </select><br>

    <label for="roomPhotos">Room Photos URL:</label>
    <input type="text" id="roomPhotos" name="roomPhotos" placeholder="Room Photos URL"><br>

    <label for="roomDescription">Room Description:</label>
    <textarea id="roomDescription" name="roomDescription" placeholder="Room Description" required></textarea><br>

    <label for="cleanStatus">cleanStatus:</label>
    <select id="cleanStatus" name="cleanStatus">
        <option value="true">Clean</option>
        <option value="false">Dirty</option>
    </select><br>

    <button type="submit">Create Room</button>
</form>
<a href="/admin/room">Cancel</a>

<footer>
    <a href="/admin/room">Back to Room</a>
</footer>

