
<h2>Are you sure you want to delete room {{roomNumber}}?</h2>
<form action="/admin/room/delete" method="post">
    <input type="hidden" name="roomNumber" value="{{roomNumber}}">
    <button type="submit">Confirm Delete</button>
</form>
<a href="/admin/room">Cancel</a>


<footer>

  <a href="/admin">back to admin Dashboard</a>
</footer>