<p style="margin-left: 30px;">Search Booking:</p>
    
    <form id="searchForm">
        <label for="FirstName">Enter First Name:</label>
        <input type="text" name="FirstName" id="FirstName">
        <label for="email_search">Enter Email:</label>
        <input type="text" name="email_search" id="email_search">
        <button type="button" id="SearchByEmail">Search</button>
        <div class="results" id="rdiv"></div>
    </form>
    <script>
    jQuery(document).ready(function(){
        $('#SearchByEmail').click(function(){
            var email = $('#email_search').val();
            var rdiv = $('#rdiv');
            var url = "/staff/checkin/getbookingbyemail/" + email;

            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                success: function (res) {
                    rdiv.empty(); 
                    if (res.length === 0){
                        rdiv.text(`No Booking with that email ${email}`);
                    } else {
                        console.log(res);
                        res.forEach(function(booking) {
                            const bookingHtml = `
                                <div class="booking-detail">
                                    <p>First Name: ${booking.firstName}</p>
                                    <p>Last Name: ${booking.lastName}</p>
                                    <p>Email Id: ${booking.emailId}</p>
                                    <p>Phone Number: ${booking.contactNumber}</p>
                                    <p>Checkin Date: ${booking.CheckinDate}</p>
                                    <p>Checkout Date: ${booking.CheckOutDate}</p>
                                    <p>Booking Status: ${booking.BookingStatus}</p>
                                    <p>Cleaned Status: ${booking.cleanStatus}</p>
                                </div>
                            `;
                            rdiv.append(bookingHtml);
                            if (!booking.BookingStatus) {
                                $('<button/>', {
                                    text: 'Confirm Booking',
                                    click: function() { makeBookinge(booking.emailId); }
                                }).appendTo(rdiv);
                            } else if(!booking.cleanStatus) {
                                $('<button/>', {
                                    text: 'Clean Room',
                                    click: function() { cleanRoom(booking.emailId); }
                                }).appendTo(rdiv);
                            } else if(!booking.CheckedIn){
                                $('<button/>', {
                                    text: 'Check-In',
                                    click: function() { checkIne(booking.emailId); }
                                }).appendTo(rdiv);
                            } else {
                                $('<p>', {
                                    text: 'Checked In!'
                                }).appendTo(rdiv);
                            }
                        });
                    }
                },
                error: function(xhr, status, error) {
                    rdiv.text(`Error: ${error}`);
                }
            });
        });

        function makeBookinge(emailId){
            let url = "/staff/checkin/makeBooking/" + emailId;
            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                success: function (updatedRes) {
                    alert('Booking Confirmation Successful');
                },
                error: function(xhr, status, error) {
                    alert('Booking Confirmation Failed');
                }
            });
        }

        function checkIne(emailId){
            let url = "/staff/checkin/putcheckIne/" + emailId;
            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                success: function (updatedRes) {
                    alert('Checkin Successful');
                },
                error: function(xhr, status, error) {
                    alert('Checkin Failed');
                }
            });
        }

        function cleanRoom(emailId){
            let url = "/admin/checkin/clean/" + emailId;
            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                success: function (updatedRes) {
                    alert('Room Status changed to clean');
                },
                error: function(xhr, status, error) {
                    alert('Failed to change the status please try again');
                }
            });
        }
    });
</script>



<footer>
    <a href="/staff">Back to Staff Dashboard</a>
</footer>