<nav>
  <ul>
    <li><a href="staff/checkIn">Check In</a></li>
    <li><a href="staff/checkOut">Check Out</a></li>
      <li><a href="staff/markDirtyRoom">Mark Rooms</a></li>
    <li><a href="/logout" class="logout-button">Logout</a></li>
  </ul>
</nav>

<footer>
  staff Homepage
</footer>